@import '~antd/dist/antd.css';

.App {
  text-align: center;
  background-color: white;
  height: 100vh;
  font-family: 'Athiti', serif;
}

h2 {
  font-size:39.2px;
  color:#0b9dd2;
  margin-bottom:0;
}

h3 {
  font-size: 25px;
}

.fixed-navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 9;
}

.mobile-navbar {
  display: none;
}

.blank-cover {
  height: 67px;
}

@media only screen and (max-width: 770px) {
  .fixed-navbar {
    display: none;
  }

  .mobile-navbar {
    display: block;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 9;
  }

  .blank-cover {
    height: 50.8px;
  }
}